/*
Colors used:
Background Color: #D9D9D9;
Primary Color: #FF9A17;
Text Color (Black): #000000;
*/
* {
  box-sizing: border-box;
}

.content {
  margin-top: 75px;
}

body {
  background-color: #D9D9D9;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000000
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
  line-height: 1.5;
  margin: 0;
}

#hero h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;;
  color: #000000;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.025em;
  margin: 20px 0;
  padding-top: 2%;
}

#hero h1 span {
display: block;
margin: 2px;
font-size: 36px;
}

#hero p span {
  display: inline;
  margin: 2em;
}
  
h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  font-size: 2.5em;
  color: #000000;
  margin: 20px auto;
}

h2 {
  font-size: 1.6em;
  color: #000000;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 15px auto;
  text-align: center;
}

h3 {
  font-size: 1.4em;
  color: #000000;
  letter-spacing: 0.05%;
  font-weight: 500;
  padding-top: 10px;
  margin: 5px 0;
}

h4 {
  font-size: 1em;
  color: #000000;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0
}

p {
  margin: 0;
  padding: 15px 0;
}

p.bold {
  font-weight: bold;
  text-align: left;
}

li.header{
  display: inline;
}

ul {
  margin: 0;
  padding: 0 0 0 30px;
}

.bullets {
  padding: 20px;
  list-style: none;
  font-size: 16px;
  text-align: left;
}

.bullets li::before {
  content: "•";
  color: #FF9A17;
  display: inline-block;
  width: 1em;
}

#work {
  text-align: center;
}
  
#about img {
  width: 100%;
  margin-bottom: 15px;
}

img {
  width: 100%; 
  padding: 10px 0;
}

.social img {
  width: 40px;
  display: inline-block;
}

.social {
padding-top: 2%;
}

.email a{
  width: 180px;
  display: inline-block;
}

a {
  color: #FF9A17;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #000000;
}

a:visited {
  color: #FF9A17;
}

a:active {
  color: #994c30;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

header {
  background-color: #ffffff;
  padding: 10px 0 2px;
  position: fixed;
  width: 100%;
}

.logo {
  max-width: 150px;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #FF9A17;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding: 0;
  margin: 0 10px;
  text-transform: uppercase;
  transition: 0.3s;
}

nav>ul>li>a:hover {
  color: #994c30;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 20px;
  padding-right: 0;
}

a.button {
  display: inline-block;
  background: #FF9A17;
  background: linear-gradient;
  -webkit-box-shadow: 5px 7px 25px -7px rgba(173, 95, 114, 0.6);
  box-shadow: 5px 7px 25px -7px rgba(190, 129, 144, 0.6);
  font-family: 'Poppings', sans-serif;
  font-weight: 500;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin-top: 15px;
  transition: 0.2s opacity;
}

a.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

a.button.download {
  background: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #FF9A17;
  transition: 0.2s;
  margin-top: 5px;
  margin-bottom: 20px;
  text-decoration: none;
}

a.button.download:hover {
  color: #FF9A17;
  background: transparent;
}

a.button.contact {
  background: transparent;
  color: rgb(255, 255, 255, 85%);
  padding-left: 20px;
  margin-top: 40px;
  border: 2px solid #FF9A17;
  transition: 0.2s;
}

a.button.contact:hover {
  color: rgb(255, 255, 255, 100%);
  background: rgb(255, 255, 255, 10%);
  border: 2px solid #ffffff
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.my.story {
  width: 100%;
}



#about-picture {
  width: 100%;
  padding: 0 10px 0 10px;
}

footer {
  text-align: center;
  background: rgb(240, 190, 148);
  background: linear-gradient(168deg, rgba(240,190,148,1) 0%, rgba(173,95,114,1) 58%);
  padding: 15px 10px;
  width: 100%
}

#contact h3 {
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0;
}

#contact p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
  line-height: 1.5;
  margin: 0;
}

#contact a {
color: #ffffff;
}

.email {
 padding: 20px;
}

#copyright {
  color: rgb(255, 255, 255, 55%);
  font-size: 12px;
  padding: 0;
  text-align: right;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    font-size: 24px;
  }

  .logo {
    max-width: 250px;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
  }

  nav {
    width: auto;
    float: right;
    margin-top: -8px;
  }

  nav > ul {
    margin: 1em 0;
  }
  
  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 99px;
  }

  #hero span {
    display: block;
  }

  p {
    display: block;
    font-size: 18px;
  }

  h1 {
    font-size: 2.5em;
    color: #000000;
    margin: 20px auto;
  }
  
  h2 {
    font-size: 1.6em;
    color: #000000;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 15px auto;
    text-align: center;
  }
  
  h3 {
    font-size: 1.4em;
    color: #000000;
    letter-spacing: 0.05%;
    font-weight: 500;
    padding-top: 10px;
    margin: 5px 0;
  }
  
  h4 {
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0
  }

  a {
    font-size: 19px;
  }

  #work p {
    text-align: left;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px 0 10px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-md-6 {
    width: 50%;
  }


}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 40%;
  }

  .col-lg-7 {
    width: 58.33%;
    padding-bottom: 32px;
  }

  p {
    font-size: 19px;
  }

  h1 {
    font-size: 2.5em;
    color: #000000;
    margin: 20px auto;
  }
  
  h2 {
    font-size: 1.6em;
    color: #000000;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 15px auto;
    text-align: center;
  }
  
  h3 {
    font-size: 1.4em;
    color: #000000;
    letter-spacing: 0.05%;
    font-weight: 500;
    padding-top: 10px;
    margin: 5px 0;
  }
  
  h4 {
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0
  }

  a {
    font-size: 20px;
  }

  #about img {
    margin: 0 auto;
    max-width: 400px;
    display: block;
  }

  #hero h1 span {
    font-size: 20px;
  }

  #hero img {
    max-width: 500px;
  }

  #skills {
    text-align: center;
  }
    
  #skills .col-md-6 .col-lg-5{
    text-align: center;
   }

}

@keyframes color-change {
  0% {fill: #61B15A;}
  50% {fill: #3A6A36;}
  100% {fill: #274724}
}

.olive {
  animation: 4s color-change infinite alternate linear;
}
